@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;

  @apply font-sans font-light;
  -webkit-font-smoothing: antialiased;
}

p {
  @apply mb-5 text-lg;
}

p:last-of-type {
  @apply mb-0;
}

li {
  @apply mb-2;
}

li:before {
  content: '•';
  display: inline-block;
  margin-left: -1em;
  width: 1em;
}

.list-no-dots:before {
  display: none;
}

.max-w-inherit {
  max-width: inherit;
}

/* Grid */
.grid-columns-1fr {
  grid-template-columns: 20px 1fr 20px;
}

@responsive {
  .grid-columns-1024 {
    grid-template-columns: 1fr 1024px 1fr;
  }
}

.grid-columns-iteam {
  grid-template-columns: 20px 1fr minmax(100px, 1024px) 1fr 20px;
}

.grid-columns-4-fluid {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.grid-columns-iteam > * {
  grid-column: 3/4;
}

.col-bleed {
  grid-column: -1 / 1;
}

/* Justify */
.justify-self-start {
  justify-self: start;
}

.justify-self-end {
  justify-self: end;
}

/* Markdown */
.markdown ul {
  @apply pl-5;
}

.markdown li {
  @apply text-lg;
}

.markdown a {
  @apply border-b-2 border-solid border-current text-lg text-cornflower-blue;
}

.markdown h2 {
  @apply text-2xl font-medium pb-4;
}

.markdown p:last-of-type {
  @apply mb-5;
}

.markdown b,
.markdown strong {
  font-weight: bold;
}
